html{
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}
#wrapper {
  width: 1024px;
  background-color: #ab8acf;
  height: calc(100% - 46px);
  left: calc(50% - 512px);
  position: relative;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
.menuclass {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
.menuclass:hover:not(.active){
  background-color: #F7E733;
}
.active {
  background-color: #b57cf2;
}

