
/* algemeen */
html{
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 1024px;
}
.noDec {
	color: #FFFFFF;
    text-decoration: none;
}

/* menu */

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
.menuclass {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-family: 'Montserrat', sans-serif;
}
.menuclass:hover:not(.active){
  background-color: #F7E733;
}
.active {
  background-color: #b57cf2;
}
.menuClassLeft {
  width: calc(50% - 512px);
  height: 45px;
  float: left;
}

/* footer */

#footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6;
  bottom: 0;
  height: 100px;
}
.footerClassLeft {
  width: calc(50% - 512px);
  height: 100px;
  float: left;
}