#wrapper {
  width: 1024px;
  background-color: #3A5743;
  height: calc(100% - 46px);
  left: calc(50% - 512px);
  position: relative;
}

#WelkomTekst {
  height: auto;
  min-height: 100%;
  width: 1010px;
  float: right;
}

#tekstbox-top {
  width: 100%;
  height: 100px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;


  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}
.tekstbox-bottem {
  width: 100%;
  height: auto;
  position: relative;

  display: flex;
  flex-direction: column;
  

  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.magin10 {
  margin: 10px;
}

#welkNiveau{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #856ca1;
  left: -14px;
  width: calc(100% + 14px);
  position: relative;
}
.niveauButton {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-family: 'Montserrat', sans-serif;
}
.niveauButton:hover:not(.activeNiveau) {
  background-color: #64517a;
}

.displayNone {
  display: none;
}


